html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #9CA5AF;
    font: 300 24px "Helvetica Neue";
}

.actions__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disconnected {
    display: block;
}

.actions__wrapper_connect .disconnected {
    display: none;
}

.actions {
    display: none;
}

.actions__wrapper_connect .actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions__left,
.actions__right,
.actions__top,
.actions__bottom {
    margin: 15px;
}

.info {
    display: none;
    text-align: center;
}

.info__text {
    margin-bottom: 15px;
}

@media (orientation: portrait) {
    .actions__wrapper_connect .actions {
        display: none;
    }

    .info {
        display: none;
    }

    .actions__wrapper_connect .info {
        display: block;
        margin: 0 30px;
    }
}